# Virtual environment
venv/
env/
.venv/

# Secrets (JANGAN pernah upload ke GitHub)
.streamlit/secrets.toml

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace